.sidebar {
  width: 100%;
  position: relative;

  @media (min-width: 700px) {
    flex: 0 0 250px;
  }

  @media (min-width: 1024px) {
    flex: 0 0 280px;
  }
}

.sidebarContent {
  padding: 15px;
  border-radius: 4px;
  margin: 0 0 30px 0;
  background-color: #ffffff;

  @media (min-width: 700px) {
    padding: 20px;
    margin: 0 20px 0 0;
  }
}

.heading {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;

  @media (min-width: 700px) {
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 25px;
  }
}

.clearFilter {
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #f44336;
  text-transform: capitalize;
  display: flex;
  align-items: center;

  @media (min-width: 700px) {
    right: 25px;
  }

  img {
    width: 20px;
    height: 20px;
    margin: -4px 0 0 0;
  }
}
