.wrapper {
  text-align: center;
  height: 250px;

  @media (min-width: 767px) {
    height: 400px;
  }

  @media (min-width: 1024px) {
    height: 450px;
  }

  img {
    height: 120px;
    margin: 0 auto;
    width: auto;
  }
}
